body{
	text-align: center;
	background-color: bisque;
	margin: 0px;
	padding: 0px;
	
}
#intr{
	
	margin: auto;
	margin-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0px;
	width: 800px;
	height: 300px;
	border: 5px solid darkorange;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 5px 5px 5px 5px;
}
.photo_frame{

	margin-top: 50px;
	height: 212px;
	width: 212px;
	display: none;
	box-shadow: 6px 6px 3px #888888;
	border-radius: 5px 5px 5px 5px;
}
.photo_frame img{
	height: 200px;
	width: 200px;
	border: 6px solid coral;
	
}
.photo_frame p{
	text-align: center;
	font-size: 18px;
}
.works{
	text-align: center;
}
.works img{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 30px;
	float: none;
}
.hr_left{
	width: 50%;
	height: 6px;
	border: 0;
	background: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#ff0000), to(#fff));
	float: left;
}
.hr_right{
	width: 50%;
	height: 6px;
	border: 0;
	background: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#fff), to(#ff0000));
	float: left;
}
.arts_name{
	margin-top: 0px;
}
.title{
	font-size: 20px;
}
